$backgroundColor: radial-gradient(circle, rgb(160, 215, 158) 0%, #046100 79%)  #86b584;
$headerFontColor: #DCEB0C linear-gradient(to top, #eeff00 0%, #ff6a00 100%);
$buttonBackground: radial-gradient(circle, rgb(72, 148, 70) 0%, #034d00 79%)  #86b584;
$buttonFocusBackground: radial-gradient(circle, rgb(85, 173, 82) 0%, #046100 79%)  #97cc95;
body{
    width: 100vw;
    height: 100vh;
    background: $backgroundColor;
}
.header{
    font-family: 'Casino';
    width: 100vw;
    display: flex;
    justify-content: center;
    &__h1{
        width: 235px;
        background: $headerFontColor;
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 50px;
        margin: 30px 0;
    }
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    &__bet{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 80%;   
        height: 50%;
        border: 2px white solid;
        background-color: rgba(0, 0, 0, 0.694);
        box-shadow: inset 5px 5px 10px white, inset -5px -5px 10px white;
        border-radius: 20px;
        transform: scale(0);
        transition: 0.2s all;
        &--betButtons{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 50px 50px 50px;
            gap: 2px;
        }
        &--betButtons > *{
            background: none;
            color: #fff;
            font-size: 20px;
            padding: 0;
            border: 2px white solid;
            transition: 0.2s all;
        }
        &--amount{
            background: none;
            color: #fff;
            border: 2px white solid;
            border-radius: 10px;
            padding: 10px;
            width: 60%;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
        }
        &--apply{
            background: none;
            color: #fff;
            font-weight: bold;
            font-size: 30px;
            border: 2px white solid;
            border-radius: 10px;
            padding: 10px;
            width: 30%;
            transition: 0.2s all;            
        }
        &--apply:focus, &--betButtons > *:focus{
            color: black;
            background-color: white;
            border: 2px black solid;
        }
    }
    &__buttons{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;
        &--cash{
            position: absolute;
            color: #fff;
            font-family: 'Casino';
            top: -55px;
            font-size: 50px;
            transition: 0.2s all;
            transform: scale(0);
        }
        &--hit:focus, &--pass:focus{
            background: $buttonFocusBackground;
        }
        &--hit, &--pass{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Casino';
            border: 5px solid#023c00;
            background: $buttonBackground;
            padding: 10px;
            border-radius: 16px;
            width: 120px;
            height: 80px;
            transition: 0.2s all;
            transform: scale(0);
            opacity: 0.4;
            &-p{
                font-size: 43px;
                background: $headerFontColor;
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    &__table{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 300px;
        height: 600px;
        background-image: url(../assets/table.svg);
        background-size: contain;
        background-repeat: no-repeat;
        &--startButton{
            position: absolute;
            top: calc(50% - 50px);
            left: calc(50% - 112px);
            background: none;
            border: none;
            font-family: 'Casino';
            background: $headerFontColor;
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 80px;
            transition: 0.2s all;
        }
    }
}
.table__botSide , .table__playerSide{
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: 0.3s all;
}
.card{
    width: 80px;
    height: 110px;
    transition: 0.2s all;
}
.cardHoldersActivated{
    border: 5px rgb(0, 0, 0) solid;
    box-shadow: inset 5px 5px 15px black, inset -5px -5px 15px black ;
}

.loseScreen, .winScreen, .tieScreen{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    font-size: 50px;
    transform: scale(0);
    transition: 0.2s all;
    &__background{
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.607);
    }
    &__text{
        font-family: 'Casino';
        background: $headerFontColor;
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.rotated{
    animation: revertCardRotate 0.2s linear;
}
.firstRotate{
    animation: firstRotate 0.2s linear;
}
.cardPopIn{
    animation: cardPopIn 0.4s linear;
}

@keyframes cardPopIn {
    from{
        transform: translateX(1000px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes revertCardRotate {
    from{
        transform: rotate3d(0,1,0,90deg);
    }to{
        transform: rotate3d(0,1,0,0deg);
    }
}
@keyframes firstRotate {
    from{
        transform: rotate3d(0,1,0,0deg);
    }to{
        transform: rotate3d(0,1,0,90deg);
    }
}